<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property resource="application.properties" />
    <property name="LOGS" value="${fasp.filestorepath}" />
 
    <appender name="RootConsole" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                %black(%d{ISO8601}) %highlight(%-5level) [%blue(%t)] %yellow(%C{1.}): %msg%n%throwable
            </Pattern>
        </layout>
    </appender>
 
    <appender name="RootFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOGS}/rootLogger.log</file>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>%d{ISO8601} %p %c{2} [%t] %msg%n</Pattern>
        </encoder>
 
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- rollover daily and when the file reaches 10 MegaBytes -->
            <fileNamePattern>${LOGS}/archived/rootLogger-%d{yyyy-MM-dd}.%i.log
            </fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>5MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
    </appender>
   
    <appender name="SpringBootFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOGS}/faspLogger.log</file>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>%d{ISO8601} %p [%t] %c{2}\(%line\) %msg%n</Pattern>
        </encoder>
 
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- rollover daily and when the file reaches 10 MegaBytes -->
            <fileNamePattern>${LOGS}/archived/wrapchiseLogger-%d{yyyy-MM-dd}.%i.log
            </fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>5MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
    </appender>
     
    <!-- LOG everything at INFO level -->
    <root level="info">
        <appender-ref ref="RootConsole" />
    </root>
   
    <logger name="com.zaxxer.hikari" level="debug" additivity="false">
        <appender-ref ref="RootConsole" />
    </logger>
    
    <logger name="org.springframework" level="debug" additivity="false">
        <appender-ref ref="RootConsole" />
    </logger>
 
    <!-- LOG "cc.altius.sb*" at INFO level -->
    <logger name="cc.altius.FASP" level="info" additivity="false">
        <appender-ref ref="SpringBootFile" />
    </logger>
 
</configuration>