<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property resource="application.properties" />
    <property name="LOGS" value="${qat.homeFolder}${qat.logfilePath}" />
<!--    <property name="jdbcUrl" value="${spring.datasource.url}"/>
    <property name="jdbcUsername" value="${spring.datasource.username}"/>
    <property name="jdbcPassword" value="${spring.datasource.password}"/>-->
    
    <appender name="RootConsole" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                %black(%d{ISO8601}) %highlight(%-5level) [%blue(%t)] %yellow(%C{1}) %line: %msg%n%throwable
            </Pattern>
        </layout>
    </appender>
 
    <appender name="FaspFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOGS}/faspLogger.log</file>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>%d{ISO8601} %p [%t] %c{2}\(%line\) %msg%n</Pattern>
        </encoder>
 
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- rollover daily and when the file reaches 10 MegaBytes -->
            <fileNamePattern>${LOGS}/archived/faspLogger-%d{yyyy-MM-dd}.%i.log
            </fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>5MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
    </appender>
    
    <appender name="UserFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOGS}/userLogger.log</file>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>%d{ISO8601} %p [%t] %c{2}\(%line\) %msg%n</Pattern>
        </encoder>
 
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- rollover daily and when the file reaches 10 MegaBytes -->
            <fileNamePattern>${LOGS}/archived/userLogger-%d{yyyy-MM-dd}.%i.log
            </fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>5MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
    </appender>
    
    <appender name="ARTMISFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOGS}/artmisLogger.log</file>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>%d{ISO8601} %p [%t] %c{2}\(%line\) %msg%n</Pattern>
        </encoder>
 
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- rollover daily and when the file reaches 10 MegaBytes -->
            <fileNamePattern>${LOGS}/archived/artmisLogger-%d{yyyy-MM-dd}.%i.log
            </fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>5MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
    </appender>
    
    <appender name="CurrencyFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOGS}/currencyLogger.log</file>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>%d{ISO8601} %p [%t] %c{2}\(%line\) %msg%n</Pattern>
        </encoder>
 
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- rollover daily and when the file reaches 10 MegaBytes -->
            <fileNamePattern>${LOGS}/archived/currencyLogger-%d{yyyy-MM-dd}.%i.log
            </fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>5MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
    </appender>
    
    <appender name="EmailFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOGS}/emailLogger.log</file>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>%d{ISO8601} %p [%t] %c{2}\(%line\) %msg%n</Pattern>
        </encoder>
 
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- rollover daily and when the file reaches 10 MegaBytes -->
            <fileNamePattern>${LOGS}/archived/emailLogger-%d{yyyy-MM-dd}.%i.log
            </fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>5MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
    </appender>
    
    <!-- LOG everything at INFO level -->
    <root level="info">
        <appender-ref ref="FaspFile" />
        <!--<appender-ref ref="RootConsole" />-->
    </root>
   
    <logger name="com.zaxxer.hikari" level="error" additivity="false">
        <appender-ref ref="FaspFile" />
        <!--<appender-ref ref="RootConsole" />-->
    </logger>
    
    <logger name="org.springframework" level="info" additivity="false">
        <appender-ref ref="FaspFile" />
        <!--<appender-ref ref="RootConsole" />-->
    </logger>
    
    <!-- LOG "cc.altius.sb*" at INFO level -->
    <logger name="cc.altius.FASP" level="info" additivity="false">
        <appender-ref ref="FaspFile" />
        <!--<appender-ref ref="RootConsole" />-->
    </logger>
    
    <!-- LOG "cc.altius.FASP.web.controller.UserController" at INFO level -->
    <logger name="cc.altius.FASP.web.controller.UserController" level="info" additivity="false">
        <appender-ref ref="UserFile" />
        <!--<appender-ref ref="RootConsole" />-->
    </logger>
    
    <logger name="cc.altius.FASP.ARTMIS" level="info" additivity="false">
        <appender-ref ref="ARTMISFile" />
        <!--<appender-ref ref="RootConsole" />-->
    </logger>
    
    <logger name="cc.altius.FASP.web.controller.CurrencyConversionController" level="info" additivity="false">
        <appender-ref ref="CurrencyFile" />
        <!--<appender-ref ref="RootConsole" />-->
    </logger>
    
    <logger name="cc.altius.FASP.model.Emailer" level="info" additivity="false">
        <appender-ref ref="EmailFile" />
    </logger>
    
</configuration>